{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Welcome to the Password Reset Page</h1>
  <h6>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h6>
</div>
<br/>

<form action="" method="POST" class="text-center col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0 mx-auto ">
  {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" value="Send email" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'blog-home' %}">Return to home page</a>
</div>

{% endblock%}